@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset */
*{
    box-sizing: border-box;
} 
/* General */
html, body{
    font-family: 'Montserrat', sans-serif;
    background: #810955;
    color: #FFF9D7;
    scroll-behavior: smooth; 
}
a{
    text-decoration: none;
}
/* navbar */
#navbar a{
    color: #FFF9D7 ;
}
/* #navbar .logo{
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 16px;
    font-weight: 400;
    float: right;
} */
#navbar .logo{
   /*  width:80px;
    height:80px;
    border-radius:150px; */
    float: right;
}
#navbar img{
    width:80px;
    height:80px;
    border-radius:50px;
   
}

#navbar ul{
    list-style: none;
    text-transform: uppercase;
    float: left;
}
#navbar ul li{
    float:left ;
} 
#navbar ul li a{
    /* display: block; */
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover{
    background: #EE81B3;
}
header{
    padding: 60px;
    align-items: center ;
    display: block;
}
main{
background: #7D1E6A;
display: block;
/* padding: 200px; */
}
footer{
    background: #7D1E6A;
    display: block;
}
/* #mainheader{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 10px;
} */
    


.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 10px;
}

 /* seccion Home */
 #home {
    /* background: #610C63; */
    background: #7D1E6A;
    /* padding: 400px ; */
  }
  
  .home-title {
    float: left;
    width: 50%;
    /* padding-top: 340px; */
  }
  
  .home-img {
    float: right;
    width: 50%;
}
  
.home-img img {
    width: 90%;
}
/*   .about-description .large {  
    padding-bottom: 10px;
    font-size: 1.25rem;
  } */
  /* General */
h2 { 
    font-size: 15px; 
    text-transform: uppercase;
    /* font-weight: 300; */
    color: #FFF9D7;;
  }

  p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
    }

    /* The Event */

    #the-event {
        background: #810955;
        /* padding: 400px ; */
      }
      
      .the-event-video {
        float: left;
        width: 50%;
        /* padding-top: 340px; */
      }
      
      .the-event-subtitle {
        float: right;
        width: 50%;
    }
      
    #video-evento {
        width: 90%;
    } 
    /*   .about-description .large {  
        padding-bottom: 10px;
        font-size: 1.25rem;
      } */
      /* General */
    h2 { 
        font-size: 15px; 
        text-transform: uppercase;
        /* font-weight: 300; */
        color: #FFF;;
      }
    
      p {
        font-size: 1rem;
        margin: 10px 0;
        line-height: 1.7em;
        }

  /* Nosotros */
  #about {
    background: #7D1E6A;
    /* padding: 400px ; */
  }
  
  .about-title {
    float: left;
    width: 50%;
    /* padding-top: 340px; */
  }
  
  .about-img {
    float: right;
    width: 50%;
}
  
.about-img img {
    width: 90%;
}

/*   .about-description .large {  
    padding-bottom: 10px;
    font-size: 1.25rem;
  } */
  /* General */
h2 { 
    font-size: 15px; 
    text-transform: uppercase;
    /* font-weight: 300; */
    color: #FFF;;
  }

  p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7em;
    }



  /* Registro */
	  #register {
        background: #810955;
        padding: 120px 0;
      }
      
      .register-form {
        float: right;
        width: 50%;
        padding: 20px;
      }
      
      .register-title {
        float: left;
        width: 50%;
        padding-top: 160px;
        text-align: center;
      }

      form .form-group {
        margin-bottom: 1rem;
      }
      
      form .form-control {
        /* display: block; */
        width: 100%;
        padding: 0.375rem 0.7rem;
        font-size: 1rem;
        line-height: 1.7;
        border: none; 
        
      }

      /* Boton Form */
	.btn {
        display: inline-block;
        font-size: 15px;
        padding: 14px 23px;
        cursor:pointer ;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 10px;
        margin-top: 1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       0px;
      }
      
      .btn-light {
        background: #7D1E6A;
        border: 1px solid #841934;
        color: #FFF9D7;
        width: 100%;
      }
      
      .btn-light:hover {
        background: #EE81B3;
        border: 1px solid #810955;
        color: #FFF9D7;
      }

/* Clima */
      
/* #about img{
  width: 4%;
} */

#about2 .mapa{
  float: right;
  width: 50%;
}

#about2 #clima{
  float: left;
  width: auto;
}


#about2 #clima {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
#clima:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.tarjeta-central{
  padding: 2px 16px;
}
.about2-title {
  color: #FFF9D7;
  /* padding-top: 340px; */
}
#about2 #whatsapp {
  display: flex;
  justify-content: center;
  
}
#about2 #whatsapp a{
  color: #FFF9D7;
  margin: 0 auto;

}
